<!DOCTYPE html>
<html th:fragment="layout(main)" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/bootstrap/bootstrap-4.6.2-dist/css/bootstrap.min.css"
          th:href="@{/bootstrap/bootstrap-4.6.2-dist/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark text-light mb-5">
    <a th:href="@{/}" class="navbar-brand">SpringSecurity</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="myNav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a th:href="@{/}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/customer/customers}" class="nav-link">Customers</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/employee/employees}" class="nav-link">Employee</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/department/departments}" class="nav-link">Departments</a>
            </li>
        </ul>
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Login</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/account/accounts}" class="mr-2">Account</a>
            <a href="javascript: document.logoutForm.submit()">Logout</a>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out">
            </form>
        </div>
    </div>
</nav>
<div th:replace="${main}" class="my-5">

</div>
<footer>
    <div class="p-5 bg-dark text-light justify-content-center d-flex align-content-center">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">Spring Security Master &copy; SmiLe</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>

</body>
</html>